<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FierceGalaxyUnitTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FierceGalaxyUnitTest.Properties.Settings>
            <setting name="MapsDBPathTest" serializeAs="String">
                <value>C:\temp\test\maps</value>
            </setting>
            <setting name="PlayerDBPathTest" serializeAs="String">
                <value>C:\temp\test\dbPlayersManager.json</value>
            </setting>
        </FierceGalaxyUnitTest.Properties.Settings>
    </userSettings>
</configuration>