<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  
  <system.serviceModel>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="authenticateServices">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
              customUserNamePasswordValidatorType="FierceGalaxyService.UserAuthentication, totototot" />
          </serviceCredentials>
        </behavior>
        <behavior name="unconnectedServices">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <services>
      <service name="FierceGalaxyService.ServicesWithLogin.FierceGalaxyLoggedIn"
               behaviorConfiguration="unconnectedServices">
        <endpoint address="in/"
              binding="webHttpBinding"
              contract="FierceGalaxyService.ServicesWithLogin.IFierceGalaxyLoggedIn"  
              behaviorConfiguration="web" />
        <endpoint
          address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange"/>
      </service>
      <service name="FierceGalaxyService.ServicesWithoutLogin.FierceGalaxyLoggedOut"
               behaviorConfiguration="unconnectedServices">
        <endpoint address="out/"
              binding="webHttpBinding"
              contract="FierceGalaxyService.ServicesWithoutLogin.IFierceGalaxyLoggedOut"  
              behaviorConfiguration="web" />
        <endpoint
          address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange"/>
      </service>
    </services>
    <protocolMapping>
      <add binding="webHttpBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
 
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>